.title {
  margin-top: 40px;
  font-size: 68px;
  font-weight: 600;
  color: #28046f;
  text-align: center;
}
.swiperWrapper {
  margin: 0 auto;
  width: 100%;
  max-width: calc(100vw - 250px);

  //:global {
  //  .swiper-slide {
  //    width: calc((100vw - 220px)/3) !important;
  //  }
  //}
}