.button {
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 3px;
}

.buttonPremium {
  background: #007bff;
  color: white;
}

.buttonSecondary {
  border: 1px solid black;
}

.buttonDisable {
  background: lightgray;
  border: 1px solid grey;
}