@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.status {
  position: relative;
  display: inline-block;
}

.status::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 1px solid lightgray;
}

.status--empty::after {
  background: green;
}
.status--half::after {
  background: yellow;
}
.status--full::after {
  background: red;
}
