$primary-color: #28046f;
$light-color: #ffffff;
$dark-color: #000000;
$light-blue: #dfeffa;
$light-gray: #ddd;
$gray: #808080;

$background-menu:$light-blue;
$background-header: $light-blue;
$table-border: $light-gray;
$card-border: $gray;
$text-color-light: $light-color;
$text-color-dark: $dark-color;
$tableHover: $light-blue;


